.card{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    color: maroon;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    text-align: center;
}

button{
    border: 3px solid maroon;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    background-color: lightcoral;
    font-weight: bold;
    
}